# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local env files
*.local
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
*.log
logs
.vscode/*
!.vscode/extensions.json
.idea

# Vercel
.vercel
